---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(
  import.meta.glob("../pages/posts/*.md", { eager: true }),
);
---

<Layout title="Blog">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <header class="mb-8">
      <h1 class="text-4xl font-light mb-4">Blog</h1>
      <p class="text-slate-600 dark:text-slate-400 text-lg">
        Mi viaje en la programacion, arquitectura, ideas y hobbies. ✌️
      </p>
    </header>

    <section class="grid grid-cols-1 md:grid-cols-2 gap-6">
      {
        allPosts.map((post: any) => (
          <BlogPost
            url={post.url}
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            pubDate={post.frontmatter.pubDate}
            author={post.frontmatter.author}
            image={post.frontmatter.image}
            tags={post.frontmatter.tags}
          />
        ))
      }
    </section>
  </div>
</Layout>
